# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Databases
*.db
*.sqlite3

# Flask instance & logs
instance/
*.log

# VSCode settings
.vscode/

# Environment variables
.env
frontend/.env
